@layer base {
	@font-face {
		font-family: 'Hachircro';
		src: url('/fonts/HachircroRegular2.ttf') format('truetype');
		font-weight: 400;
		font-style: bold;
		font-display: swap;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
